body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
}

.title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.title-header{
    border-bottom: 1px solid #e7e9fc;
}

.title-header-div{
    display: flex;
}

.title-header-nav{
    display: flex;
    align-items: center;
}

.title-logo{
    color: #2e2f42;
    margin-right: 76px;
}

.title-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.title-header-menu{
   display: flex; 
   gap: 40px;
}

.title-header-address{
    display: flex;
    gap: 40px;
}

.title-link:hover{
    color: #404bbf;
}

.title-link:focus{
    color: #404bbf;
}

.title-address{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title-address:hover{
    color: #404bbf;
}

.title-address:focus{
    color: #404bbf;
}

.main-first-section{
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-first-section-desktop{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
}

.main-first-section-botton{
    background-color: #4D5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-first-section-botton:hover{
    background-color: #404bbf;
}

.main-first-section-botton:focus{
    background-color: #404bbf;
}

.main-second-section{
    padding: 120px 0;
}

.main-second-section-list{
    display: flex;
    gap: 24px;
}

.main-second-section-bed{
    width: calc((100% - 72px) / 4);
}

.main-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.main-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-third-section{
    background-color: #f4f4fd;
}

.main-third-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.main-list{
    background-color: #FFFFFF;
}

.footer-option{
    background-color: #2e2f42;
}

.title-logo-second{
    color: #f4f4fd;
}