.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
}

button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

#logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

span{
    color: #2e2f42;
}

li{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

a:hover{
    color:#404bbf;
}

address{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

address:hover{
    color:#404bbf;
}

address:focus{
    color:#404bbf;
}