body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

a{
    text-decoration: none;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }
  
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 15px;
    }
}
  
@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
}

.title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.title-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.first-header{
    display: flex;
    align-items: center;
}

.title-header-nav{
    display: flex;
    align-items: center;
    height: 56px;
}

.title-logo{
    color: #2e2f42;
}

.title-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-link-color{
    color: #404bbf;
}

.title-link.current::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.title-header-menu{
   display: none; 
}

.title-header-address{
    display: none;
}

.button-menu{
    background-color: white;
    border: none;
}

@media screen and (min-width: 768px) {
    .title-header-menu{
        display: flex; 
        gap: 40px;
    }

    .title-header-nav{
        height: 72px;
    }

    .title-header-address{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        gap: 4px;
    }

    .button-menu{
        display: none;
    }
}
  
@media screen and (min-width: 1158px) {
    .title-header-address{
        display: flex;
        font-size: 16px;
        gap: 40px;
        flex-direction: row;
    }
}

.title-link:hover{
    color: #404bbf;
}

.title-link:focus{
    color: #404bbf;
}

.title-address{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-address:hover{
    color: #404bbf;
}

.title-address:focus{
    color: #404bbf;
}

.main-first-section{
    background-color: #2e2f42;
    padding: 72px 0;
    padding-left: 52px;
    padding-right: 52px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/dark-bg-mob-@1x.jpg');
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 432px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/dark-bg-mob-@2x.jpg');
  }
}


@media screen and (min-width: 768px) {
    .main-first-section {
        max-width: 768px;
        background-color: rgba(46, 47, 66, 0.7);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/dark-bg-tab-@1x.jpg');
        padding: 112px 0;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .main-first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/dark-bg-tab-@2x.jpg');
    }
}
}
@media screen and (min-width: 1158px) {
    .main-first-section { 
      max-width: 1440px;
      padding: 188px 0;
      background-color: rgba(46, 47, 66, 0.7);
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/people-office-@1x.jpg');
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main-first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/people-office-@2x.jpg');
    }
}
}

.main-first-section-desktop{
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.main-first-section-botton{
    background-color: #4D5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-first-section-botton:hover{
    background-color: #404bbf;
}

.main-first-section-botton:focus{
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .main-first-section{
        max-width: 768px;
        height: 436px;
        padding: 112px 0;
    }

    .main-first-section-desktop{
        font-size: 56px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px){
    .main-first-section{
        max-width: 1440px;
        height: 600px;
        padding: 188px 0;
    }

    .main-first-section-desktop{
        font-size: 56px;
        margin-bottom: 48px;
    }
}

.main-second-section-ing{
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.main-second-section-bed{
    text-align: center;
}

.main-second-section{
    padding: 96px 0;
}

.main-second-section-list{
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.main-title-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.main-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.main-paragraph-team{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.main-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .main-second-section-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .main-second-section-bed{
        width: calc((100% - 24px) / 2);
    }

    .main-title{
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .main-title{
        font-size: 20px;
        text-align: left;
        font-weight: 500;
    }

    .main-second-section-ing{
        display: flex;
    } 

    .main-second-section-bed{
        margin-bottom: 8px;
        width: calc((100% - 72px) / 4);
    }  
    
    .main-second-section-list{
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .main-second-section{
        padding: 120px 0;
    }
    .main-paragraph{
    font-weight: 400;
    }
}

.main-title-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.main-paragraph-team{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.main-third-section{
    background-color: #f4f4fd;
    padding: 96px 0;
}

.main-third-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.main-third-section-list{
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    align-items: center;
}

.main-fourth-section-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.main-list{
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.main-third-section-social{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.main-third-section-networks{
    width: 40px;
    height: 40px;
}

.main-third-section-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-third-section-link:hover{
    background-color: #404bbf;
}

.main-third-section-link:focus{
    background-color: #404bbf;
}

.main-third-section-svg{
    fill: #f4f4fd;
}

.main-third-section-div{
    padding: 32px 0;
}

.main-photo {
    background: url('path_to_image');
    width: 100%;
  }

@media screen and (min-width: 768px) {
    .main-third-section-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        margin-left: 108px;
}

    .main-list{
        width: 264px;
    }

    .main-third-section-div{
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {

    .main-third-section{
        background-color: #f4f4fd;
        padding: 120px 0;
    }
    
    .main-third-section-list{
        margin: auto;
    }
}

.main-fourth-section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.main-fourth-section-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.main-fourth-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.main-list-fourth{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;    
}

.main-list-fourth-images{
    position: relative;
    overflow: hidden;
    width: 288px;
    height: 280px;
}

.main-list-fourth:hover .main-list-fourth-paragraf{
    transform: translateY(0%);
}

.main-list-fourth:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.main-list-fourth-paragraf{
    position: absolute;
    top: 0; 
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%; 
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.main-fourth-section-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.main-title-fourth{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .main-list-fourth{
        width: calc((100% - 24px) / 2);   
    }

    .main-fourth-section-list{
        row-gap: 72px;
    }

    .main-list-fourth-images{
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .main-fourth-section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .main-list-fourth{
        width: calc((100% - 48px) / 3);   
    }

    .main-fourth-section-list{
        row-gap: 48px;
    }

    .main-list-fourth-images{
        width: 360px;
    }
}

.footer-option{
    background-color: #2e2f42;
    padding: 100px 0;
    height: 664px;
}

.title-logo-second{
    color: #f4f4fd;
    margin-bottom: 16px;
}

.title-footer{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 100%;
    text-align: center;
}

.footer-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

.footer-two{
    width: 264px;
    height: 72px;
}

.title-footer{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-first{
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.footer-form{
    display: block;
}

.footer-input{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-paragraph-second{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-second{
    margin: 0;
}

.footer-list{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-bed{
    width: 40px;
    height: 40px;
}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
}

.footer-link:hover{
    background-color: #31d0aa;
}

.footer-link:focus{
    background-color: #31d0aa;
}

.footer-svg{
    fill: #f4f4fd;
}

.footer-paragraph-input{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.footer-label-input{
    width: 288px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff; 
}

.footer-button{
    min-width: 165px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 16px auto 0;
}

.footer-button-svg{
    margin-left: 16px;
}

@media screen and (min-width: 768px){
    .footer-option{
        height: 456px;
    }

    .footer-paragraph-second{
        text-align: left;
    }

    .title-footer{
        text-align: left;
    }

    .footer-first{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        column-gap: 24px;
        padding-left: 108px;
    }

    .footer-first{
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }

    .footer-paragraph-input{
        text-align: left;
    }
    
    .footer-input{
    width: 453px;
    }

    .footer-button{
        margin: 0;
    }

    .footer-form{
        display: flex;
        column-gap: 24px;
    }

    .footer-label-input{
        width: 264px;
    }
}

@media screen and (min-width: 1158px){
    .footer-option{
        padding: 100px 0;
        height: 312px;
    }

    .footer-first{
        display: flex;
        align-items: baseline;
        padding: 0 15px;
        gap: 0;
    }

    .footer-first-logo{
        padding-right: 120px;
    }

    .footer-label-input{
        width: 264px;
        margin-bottom: 16px;
    } 

    .footer-form{
        display: flex;
        row-gap: 16px;
    }

    .footer-button{
        width: 165px;
    }

    .footer-second{
        padding-right: 80px;
    }

    .footer-input{
        margin-right: auto;
    }
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.modal{
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover{
    background-color: #404bbf;
    border: none;
}

.modal-button:focus{
    background-color: #404bbf;
    border: none;
}

.button-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .button-svg,
.modal-button:focus .button-svg {
    fill: #ffffff;
}

.modal-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form{
    margin-bottom: 8px;
}

.modal-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input{
    position: relative;
}

.input-class{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-class:focus{
    border-color: #4D5AE5;
}

.input-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-class:focus + .input-svg {
    fill: #4D5AE5;
}

.modal-form-second{
    margin-bottom: 16px;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus{
    border-color: #4D5AE5;
}

.modal-checkbox{
    margin-bottom: 24px;
}

.modal-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-span{
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input:checked + label > span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.modal-link{
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-button-second{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .modal {
      width: 408px;
      min-height: 584px;
    }
  }
  @media screen and (min-width: 1158px) {
    .modal {
      padding: 72px 24px 24px 24px;
    }
  }


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu-nav {
    margin-bottom: auto;
  }
  .mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #e7e9fc;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-button-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-button:hover,
  .mobile-button:focus {
    background-color: #404bbf;
    border: none;
  }
  
  .mobile-button:hover > .mobile-button-icon.icon,
  .mobile-button:focus > .mobile-button-icon.icon {
    fill: #ffffff;
  }
  
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link:hover {
    color: #404bbf;
  }
  .mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-contacts-link:hover {
    color: #4d5ae5;
  }
  .mobile-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
  }
  .mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: #fff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: #404bbf;
  }
  .current {
    color: #4d5ae5;
  }
  .social-icon {
    fill: #f4f4fd;
  }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
  }