body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

a{
    text-decoration: none;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.title-header{
    border-bottom: 1px solid #e7e9fc;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.first-header{
    display: flex;
    align-items: center;
}

.title-header-nav{
    display: flex;
    align-items: center;
}

.title-logo{
    color: #2e2f42;
}

.title-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.title-header-menu{
   display: flex; 
   gap: 40px;
}

.title-header-address{
    display: flex;
    gap: 40px;
}

.title-link:hover{
    color: #404bbf;
}

.title-link:focus{
    color: #404bbf;
}

.title-address{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.title-address:hover{
    color: #404bbf;
}

.title-address:focus{
    color: #404bbf;
}

.main-first-section{
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-first-section-desktop{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.main-first-section-botton{
    background-color: #4D5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.main-first-section-botton:hover{
    background-color: #404bbf;
}

.main-first-section-botton:focus{
    background-color: #404bbf;
}

.main-second-section{
    padding: 120px 0;
}

.main-second-section-list{
    display: flex;
    gap: 24px;
}

.main-second-section-bed{
    width: calc((100% - 72px) / 4);
}

.main-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.main-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.main-third-section{
    background-color: #f4f4fd;
    padding: 120px 0;
}

.main-third-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.main-third-section-list{
    display: flex;
    gap: 24px;
}

.main-fourth-section-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.main-fourth-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-fourth-section-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.main-list{
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
}

.main-third-section-div{
    padding: 32px 0;
}

.footer-option{
    background-color: #2e2f42;
    padding: 100px 0;
}

.title-logo-second{
    color: #f4f4fd;
    margin-bottom: 16px;
}

.title-footer{
    display: inline-block;
}

.footer-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

.footer-two{
    padding-top: 16px;
}